@font-face {
  font-family: "Titillium-Bold";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("ttf");
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Bold.woff")
    format("woff");
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Titillium-Regular";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf")
    format("ttf");
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Regular.woff")
    format("woff");
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Regular.woff2")
    format("woff2");
}
@font-face {
  font-family: "Titillium-SemiBold";
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf")
    format("ttf");
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.woff")
    format("woff");
  src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.woff2")
    format("woff2");
}
