@use "./colors" as *;
@use "./typography" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: $bg-light;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 100%;
  height: 2.25rem;
  border-radius: 1.25rem;

  @include tablet(){
    height: 2.375rem;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
  }

}

legend{
  @include formFieldHeading();
}

label{
  font-family: Titillium-Bold, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: $primary-black;
  padding-bottom: 0.25rem;

  @include tablet(){
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

input, textarea, select{
  border-radius: 1.25rem;
  background-color: $white;
  margin: 0;
  padding: 0.25rem 1rem;
  width: 100%;
  height: 2.25rem;
  outline: none;
  border: 0.0625rem solid $secondary-cloud;

  font-family: Titillium-Regular, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: $primary-black;
  
  @include tablet(){
    height: 2.375rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &:active, &:focus, &:focus-within{
    border-color: $primary-indigo;
  }

  ::placeholder{
    font-family: Titillium-Regular, sans-serif;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    color: $secondary-slate;
    
    @include tablet(){
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

}

select{
  background-image: url("../assets/icons/arrow_drop_down-24px.svg");
  background-position: 97% 50%;
  background-repeat: no-repeat;

  // Get rid of default arrow
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand { 
      display: none; 
  }

  &:active, &:focus, &:focus-within {
    background-image: url("../assets/icons/arrow_drop_down-24px-active.svg");
  }

}
