*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
