@use "variables" as *;
@use "../styles/typography" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile-font-h3{
  font-size: 0.813rem;
  font-weight: 600;
    font-family: "Titillium-SemiBold";
    line-height: 1.25rem;

}

// @mixin mobile-font-h3{
//   font-size: 0.875rem;
//   font-weight: 600;
//     font-family: "AvenirNextLTPro";
//     line-height: 1.375rem;

// }

@mixin mobile-font-body-large{
  font-size: 0.938rem;
  font-family: "Titillium-Regular";;
  line-height: 1.625rem;
  font-weight: 400;
}

@mixin mobile-font-body-medium{
  font-size: 0.813rem;
  font-family: "Titillium-Regular";;
  line-height: 1.25rem;
 // font-weight: 400;
}