@use "./variables" as *;
@use "./typography" as *;
@use "./colors" as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile-font-h2 {
  font-size: 1.25;
  color: $primary-black;
  font-family: "Titillium-Bold";
  font-size: 1.75rem;
}

@mixin mobile-font-h3 {
  font-size: 0.813rem;
  font-weight: 600;
  font-family: "Titillium-SemiBold";
  line-height: 1.25rem;
}
// @mixin mobile-font-h1 {
//   font-size: 0.813rem;
//   font-weight: 600;
//   font-family: "Titillium-SemiBold";
//   line-height: 1.25rem;
// }
@mixin desktop-tablet-font-h3{
  font-size: 0.873rem;
  font-weight: 600;
    font-family: "Titillium-SemiBold";
    line-height: 1.375rem;

}
@mixin desktop-tablet-font-h1{
  font-size: 2rem;
  font-weight: 600;
    font-family: "Titillium-SemiBold";
    line-height: 2.5rem;

}
@mixin desktop-tablet-font-h2{
  font-size: 1.25rem;
  font-weight: 600;
    font-family: "Titillium-SemiBold";
    line-height: 1.75rem;

}
@mixin mobile-font-h1{
  font-size: 1.75rem;
  font-weight: 600;
    font-family: "Titillium-SemiBold";
    line-height: 2.25rem;

}
@mixin desktop-tablet-font-body-medium{
  font-size: 0.875rem;
    font-family: "Titillium-regular";
    line-height: 1.563rem;

}
@mixin desktop-tablet-font-body-large{
  font-size: 1rem;
    font-family: "Titillium-regular";
    line-height: 1.75rem;

}

@mixin mobile-font-body-large {
  font-size: 0.938rem;
  font-family: "Titillium-Regular";
  line-height: 1.625rem;
  font-weight: 400;
}

@mixin mobile-font-body-medium {
  font-size: 0.813rem;
  font-family: "Titillium-Regular";
  line-height: 1.25rem;
}

@mixin pageHeading() {
  font-family: Titillium-SemiBold, sans-serif;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: $primary-black;
  margin: 0;

  @include tablet() {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin formFieldHeading() {
  font-family: Titillium-SemiBold, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $primary-black;
  margin: 0;

  @include tablet() {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@mixin inputErrorStyle(){
  border-color: $sup-red;
}

@mixin errorLabel(){
  font-family: Titillium-Regular, sans-serif;
  font-size: 0.6875rem;
  line-height: 1rem;
  color: $sup-red;
  margin: 0;
  padding: 0;
  padding-top: 0.25rem;

  @include tablet(){
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

}

@mixin errorIconStyle() {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

@mixin backArrowStyle() {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background: url("../assets/icons/arrow_back-24px.svg");
}

@mixin columnFlex() {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-start;
}

@mixin rowFlex() {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

@mixin buttonPrimary() {
  color: $white;
  background-color: $primary-indigo;
  border: none;

  &:hover {
    color: $white;
    background-color: $bg-dark;
    border: none;
  }
}

@mixin buttonSecondary() {
  color: $secondary-slate;
  background-color: $white;
  border: 0.0625rem solid $secondary-cloud;
  font-weight: 600;

  &:hover {
    color: $primary-indigo;
    background-color: $white;
    border: 0.0625rem solid $primary-indigo;
  }
}

@mixin buttonDelete() {
  color: $white;
  background-color: $sup-red;
  border: none;

  &:hover {
    color: $white;
    background-color: $bg-dark;
    border: none;
  }
}

// TODO: will eventually be the full card display
@mixin pageCard(){
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  max-width: 98vw;
  width: calc(100vw - 2rem);
  margin: 0 1rem;
  overflow: hidden;
  background-color: $white;

  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #13182C1A;

  z-index: 1;

  @include tablet(){
    margin: 0 2rem;
    width: calc(100vw - 4rem);
  }

  @include desktop(){
    width: 80%;
    margin: 0 auto;
  }

}

@mixin stockStatus() {
  text-transform: uppercase;
  white-space: nowrap;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 20px;
  background-color: $bg-light;
  @include tablet {
    padding-top: 0.3rem;
  }
}

@mixin itemLabel() {
  font-family: Titillium-Regular;
  color: $secondary-slate;
  font-size: 0.688rem;
  line-height: 1rem;
  font-weight: 600;
  margin: 0;

  @include tablet() {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

@mixin itemText() {
  font-family: Titillium-SemiBold;
  color: $primary-black;
  font-size: 0.813rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin: 0;

  @include tablet() {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
