// @font-face {
//   font-family: "Titillium-Black";
//   src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf")
//     format("ttf");
// }
// @font-face {
//   font-family: "Titillium-Bold";
//   src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf")
//     format("ttf");
// }
// @font-face {
//   font-family: "Tillium-BoldItalic";
//   src: url("../assets/fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf")
//     format("ttf");
// }
// @font-face {
//   font-family: "Titllium-ExtraLight";
//   src: url("../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLight.ttf")
//     format("ttf");
// }
// @font-face {
//   font-family: "Titillium-ExtraLightItalic";
//   src: url("../assets/fonts/Titillium_Web/TitilliumWeb-ExtraLightItalic.ttf")
//     format("ttf");
// }
// @font-face {
//   font-family: "Titillium-Italic";
//   src: url("../../assets/fonts/Titillium_Web/TitilliumWeb-Italic.ttf")
//     format("ttf");
// }
// @font-face {
//   font-family: "Titillium-Light";
//   src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf")
//     format("ttf");
// }
// @font-face {
//   font-family: "Titillium-LightItalic";
//   src: url("../assets/fonts/Titillium_Web/TitilliumWeb-LightItalic.ttf")
//     format("ttf");
// }
@font-face {
  font-family: "Titillium-Regular";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf")
    format("ttf");
}
@font-face {
  font-family: "Titillium-SemiBold";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf")
    format("ttf");

}
// @font-face {
//   font-family: "Titillium-SemiBoldItalic";
//   src: url("cleC../assets/fonts/Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf")
//     format("ttf");
// }
