@use '../../styles/colors'as *;
@use '../../styles/mixins'as *;
@use '../../styles/typography'as *;


.warehouse{

    &__container{
        display:flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;


    }
    &__left-container{
        display:flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 50%;
    }
    &__right-container{
        display:flex;
        flex-direction: column;
        // justify-content: left;
         //align-items: last baseline;
        width: 50%;

    }

    &__address-label{
        text-align: left;
        @include mobile-font-h3;
        color: $secondary-slate;


    }
    &__address{
        text-align: left;
        //font-family:"Titillium-Regular" ;
        @include mobile-font-body-large;
    }
    &__name{
        color :#2E66E5;
        @include mobile-font-body-large;




    }
    &__arrow-wrapper{
display:flex;
flex-direction: row;
    }
    &__name-label{
       @include mobile-font-h3;
       color: $secondary-slate;

    }
    &__name-container{
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
    }

    &__contact-name-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
align-items: flex-start;

    }

    &__contact-name-label{
        @include mobile-font-h3;
        color: $secondary-slate;

    }

    &__contact-info-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
align-items: flex-start;
    }

    &__contact-info-label{

        @include mobile-font-h3;
        color: $secondary-slate;

    }
    &__name-label{
        @include mobile-font-h3;
        color: $secondary-slate;
    }



}