@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.add-warehouse{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
    background-color: $white;
    border-radius: 0.25rem;

    &__heading-container{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 2.125rem;
        padding-bottom: 1.75rem;
        border-bottom: 0.0625rem solid $secondary-cloud;
        background-color: inherit;
    }

    &__back-link{
        @include backArrowStyle();
    }

    &__heading{
        @include pageHeading();
    }
}