@use "../../styles/partials/typography" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

footer {
  // z-index: 1;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  background-color: $bg-light;
  justify-content: center;
  align-items: center;
  // padding: 3rem 0;
  height: 6rem;

  @include tablet {
    height: 8rem;
    // padding: 4rem 0;
    font-size: 0.75rem;
  }
  @include desktop {
    // padding: 3rem 0;
    height: 6rem;
  }

  p {
    margin: 0;
    font-family: "Titillium-Regular";
    font-size: 1rem;
    text-align: center;
    color: $secondary-slate;
    // padding: 3rem;

    font-size: 0.6875rem;
  }
}
