.inventories-list {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

  &__title {
    font-family: "Titillium-SemiBold";
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  


}
