@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.heading-with-back-arrow {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  background-color: inherit;

  @include tablet() {
    justify-content: flex-start;
  }
  @include desktop {
    padding-top: 0.5rem;
  }
  &__back-link {
    @include backArrowStyle();
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-position-x: -4px;
    }
  }

  &__heading {
    @include pageHeading();
    white-space: nowrap;
  }
}
